<html>

<body>
<div>Список сообщений</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <button type="submit">Найти</button>
</form>
{{#tests}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
    </div>
{{/tests}}
</body>
</html>