<html>

<body>
<form method="post" action="filter">
    <input type="text" name="filter">
</form>
{{#tests}}
    <div>
        <b>{{testId}}</b>
        <span>{{testName}}</span>
    </div>
{{/tests}}
</body>
</html>